.contents-list,
.copyright-list,
.comments-list,
.comments-list ul {
  list-style-type: none;
  padding: 0;
}
em {
  font-weight: bold;
  font-style: normal;
}
.comments-list {
  margin-left: 50px;
}
.comments-list > li > ul {
  background-color: #ffffa8;
}
.copyright-list {
  display: inline-block;
}
.copyright-list > li {
  text-align: right;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("images/background.gif");
}
h1 {
  font-size: 50px;
  color: #a4a400;
  background-color: #f0f0f0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
}
h1.title {
  text-align: center;
  text-decoration: underline;
}
