.contents-list,
.copyright-list,
.comments-list,
.comments-list ul {
  list-style-type: none;
  padding: 0;
}
em {
  font-weight: bold;
  font-style: normal;
}
.comments-list {
  margin-left: 50px;
}
.comments-list > li > ul {
  font-style: italic;
  background-color: #ffffa8;
}
.copyright-list {
  font-family: monospace;
  display: inline-block;
}
.copyright-list > li {
  text-align: right;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: #404040;
  font-size: 11pt;
  font-family: Georgia;
}
h1 {
  text-align: left;
  font-size: 18pt;
  color: #a4a400;
  background-color: #f0f0f0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  text-decoration: underline;
}
h1.title {
  font-size: 22pt;
  font-weight: bold;
  text-align: center;
}
a {
  color: #a4a400;
}
.cake {
  text-decoration: line-through;
}
ul {
  list-style-image: url("images/pie_bullet.png");
}
