body {
  padding: 0;
  margin: 0;
}
nav {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: deepskyblue;
  color: white;
  align-items: center;
  padding: 4px 10px;
  grid-column-gap: 10px;
}
nav :last-child {
  text-align: right;
}
nav :first-child,
nav :nth-child(2) {
  border-right: solid 1px white;
}
nav button {
  padding: 10px;
  border-width: 0;
  border-radius: 4px;
}
form {
  display: grid;
  grid-row-gap: 10px;
  margin: 10px;
}
label {
  font-size: 30px;
}
input[type="text"],
input[type="password"] {
  font-size: 26px;
  padding: 5px 10px;
  border-radius: 4px;
  border: solid 1px grey;
}

#main-container {
  display: grid;
  grid-template-areas:
    "leftcon rightcon"
    "bottomcon bottomcon ";
  padding: 0 50px;
}
h1 {
  padding: 0 50px;
}
#left-container {
  grid-area: leftcon;
}
#right-container {
  grid-area: rightcon;
}
#bottomcon {
  grid-area: bottomcon;
  position: absolute;
  right: 60px;
  bottom: 200px;
}
#product {
  color: #0099cc;
  background-color: transparent;
  font-size: 20px px;
  padding: 10px 20px;
  border: 2px solid #0099cc;
  border-radius: 4px;
  margin-left: 20px;
}
#cancel {
  color: red;
  background-color: transparent;
  font-size: 20px px;
  padding: 10px 20px;
  border: 2px solid red;
  border-radius: 4px;
  margin-left: 20px;
}
#reset {
  color: #022936;
  background-color: transparent;
  font-size: 30px px;
  padding: 10px 20px;
  border: 2px solid #022936;
  border-radius: 4px;
}
